body
{
    color: black;  
    text-align: left;
    font-family: courier;
}

#cabecera
{
    color: white;
    background: brown;
    box-shadow: darkgray;
    font-weight: bold;
    
    

}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
